body{
    background-image: linear-gradient(rgb(80, 80, 82), rgb(16, 7, 34));
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.container{
    background-color: rgb(223, 220, 217);
    width: 400px;
    height: 500px;
    border-radius: 15px;
    margin-top: 40px;
    padding: 15px 20px 15px;
    box-shadow: 0 0 8px 2px rgba(255, 254, 255, 0.459);
    
}

header{
    text-align: center;
}